.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

    &-container-right {
        align-self: center;
    }

    &-container-left h1 {
        color: #74BACF;
    }

}