@import "../scss/variables";

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $primary-color;
    
    &-login {
        background-color: $secondary-color;
        box-shadow: 4px 4px black;
        padding: 20px;
        min-width: 400px;
        max-width: 600px;
    }
    
    input {
        border: 0px;
        border-radius: 0;
        background-color: $primary-color;
        color: $tertiary-color;
    }
    
    
}