@import '../scss/variables';

.navbar {
    background-color: $secondary-color;
    display: flex;
    color: $primary-color;
    font-size: 16px;
    align-items: center;
    border-radius: 0 !important; 

    &-list {
        height: 20px;
        display: flex;
        width: 100%;
    }


    &-list ul {
        list-style: none;
        margin-left: -20px;
        display: flex;
        flex:1;
        li {
            margin-right: 20px;
        }

        em {
            font-style: normal;
            color: $tertiary-color; 
        }
        
        a {
            text-decoration: none;
            color: $primary-color;
        }

    }

    .flex-right {
        justify-content: flex-end;
    }
    

}